*, html {
  cursor:none;

}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  flex-direction: column;
  gap: 2rem;
}
.btn {
  background-color: pink;
  padding: 20px 40px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: black;
  position: relative;
  overflow: hidden;
}

.btn::before {
  content: "";
  position: absolute;
  background-color: orangered;
  width: 20px;
  height: 20px;
  left: var(--pageX);
  top: var(--pageY);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: width 0.5s, height 0.5s;
  -webkit-transition: width 0.5s, height 0.5s;
  -moz-transition: width 0.5s, height 0.5s;
  -ms-transition: width 0.5s, height 0.5s;
  -o-transition: width 0.5s, height 0.5s;
}

.btn:hover::before {
  width: 300px;
  height: 300px;
}

.btn span {
  position: relative;
  z-index: 1;
  transition: color 0.5s ease-in-out;
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  -ms-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
}
.btn:hover span {
  color: white;
}

/* /////////////////////// */

.btn2 {
  background-color: pink;
  padding: 20px 40px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: black;
  position: relative;
  overflow: hidden;
}
.btn2::before {
  content: "";
  position: absolute;
  background-color: orangered;
  width: 20px;
  height: 20px;
  left: var(--pageX);
  top: var(--pageY);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: width 0.5s, height 0.5s;
  -webkit-transition: width 0.5s, height 0.5s;
  -moz-transition: width 0.5s, height 0.5s;
  -ms-transition: width 0.5s, height 0.5s;
  -o-transition: width 0.5s, height 0.5s;
}

.btn2:hover::before {
  width: 30px;
  height: 30px;
}
.btn2 span {
  position: relative;
  z-index: 1;
  transition: color 0.5s ease-in-out;
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  -ms-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
}

/* ///////////////////// */
.cursor {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  width: 10px;
  height: 10px;
  /* top: var(--y);
  left: var(--x); */
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 2px dashed black;
}
