*,
html {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(231, 205, 255);
  height: 500vh;
}
.scroller {
  background-color: rgb(195, 131, 255);
  height: 20px;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  /* You can also adding transition */
  transition: 300ms ease-in;
  -webkit-transition: 300ms ease-in;
  -moz-transition: 300ms ease-in;
  -ms-transition: 300ms ease-in;
  -o-transition: 300ms ease-in;
}
